{{ define "main" }}

<section>
    <div class="container">
        <br>
        <div class="row justify-content-center">
            <p>{{ .Description }}</p>
        </div>
        <br>
        <div class="row justify-content-center">
            <form class="col-10" id="{{ .Params.form }}-form">
                <div class="form-group mb-30">
                    <label for="vorname">Vorname: <strong style="color: darkred;">*</strong></label>
                    <input type="text" class="form-control" id="vorname" name="vorname" required>
                </div>
                <div class="form-group mb-30">
                    <label for="nachname">Nachname: <strong style="color: darkred;">*</strong></label>
                    <input type="text" class="form-control" id="nachname" name="nachname" required>
                </div>
                <div class="form-group mb-30">
                    <label>Geschlecht: <strong style="color: darkred;">*</strong></label>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="gender" value="M" id="gender-m">
                        <label class="form-check-label" for="gender-m">Männlich</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="gender" value="W" id="gender-w">
                        <label class="form-check-label" for="gender-w">Weiblich</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="gender" value="D" id="gender-d">
                        <label class="form-check-label" for="gender-d">Divers</label>
                    </div>
                </div>
                <div class="form-group mb-30">
                    <label for="geburtstag">Geburtstag: <strong style="color: darkred;">*</strong></label>
                    <input type="date" class="form-control" id="geburtstag" name="geburtstag" required>
                </div>
                <div class="form-group mb-30">
                    <label for="name">Schar: <strong style="color: darkred;">*</strong></label>
                    <select id="schar" name="schar" class="form-control" required>
                        <option selected disabled>-- Bitte wählen --</option>
                    </select>
                </div>
                {{ if eq .Params.form "leitende" }}
                <div class="form-group mb-30">
                    <div class="form-group mb-30">
                        <label>höchster am Pfila gültiger J+S Kurs: <strong style="color: darkred;">*</strong></label>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="kurs" value="keine" id="keine">
                            <label class="form-check-label" for="keine">kein Kurs</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="kurs" value="GLK" id="GLK">
                            <label class="form-check-label" for="GLK">GLK</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="kurs" value="SLK" id="SLK">
                            <label class="form-check-label" for="SLK">SLK</label>
                        </div>
                    </div>
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" id="slrg" name="slrg" value="yes">
                        <label class="form-check-label" for="slrg">SLRG Fluss (Ich besitze ein SLRG Fluss
                            Prevet, welches am Pfila23 gültig ist)</label>
                    </div>
                </div>
                {{ end }}
                <div class="form-group mb-30">
                    <label for="name">Adresse: <strong style="color: darkred;">*</strong></label>
                    <input id="adresse" name="adresse" class="form-control" required>
                </div>
                <div class="row">
                    <div class="col-5">
                        <div class="form-group mb-30">
                            <label for="name">PLZ: <strong style="color: darkred;">*</strong></label>
                            <input type="number" id="plz" name="plz" class="form-control" required>
                        </div>
                    </div>
                    <div class="col-7">
                        <div class="form-group mb-30">
                            <label for="name">Ort: <strong style="color: darkred;">*</strong></label>
                            <input type="text" id="ort" name="ort" class="form-control" required>
                        </div>
                    </div>
                </div>
                {{ if eq .Params.form "leitende" }}
                <div class="form-group mb-30">
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" id="age" name="age" value="yes">
                        <label class=" form-check-label" for="age">18+ (Ich bin volljährig)</label>
                    </div>
                </div>
                {{ end }}
                <div id="container-vormund">
                    <div class="form-group mb-30">
                        <label for="vormund">Vormundskontakt: <strong style="color: darkred;">*</strong>
                            <small>(Vorname, Name, Tel)</small></label>
                        <input class="form-control" type="text" placeholder="" id="vormund" name="vormund" required>
                    </div>
                </div>

                <div class="signature">
                    <label for="signature-pad">Unterschrift: <strong style="color: darkred;">*</strong>
                        <small>(Bitte mit OK bestätigen)</small></label>
                    <canvas id="signature-pad" width="200" height="200" style="border: 2px gray solid;"></canvas>
                </div>
                <br>
                <div class="signature-buttons" style="text-align: center;">
                    <div id="clear" class="btn btn-primary">Neu</div>
                    <div id="set" class="btn btn-primary">OK</div>
                </div>
                <br>
                <img class="hide" id="signature" src="" alt="" style="width: 100%; border: 2px green solid;">

                <div class="form-group mb-30">
                    <label for="email">Kontakt-Email: <strong style="color: darkred;">*</strong></label>
                    <input class="form-control" type="email" placeholder="name@email.com" id="email" name="email"
                        required>
                </div>
                <div class="form-group mb-30">
                    <label for="notfallkontakt">Notfallkontakt während dem Pfila: <small>(sofern nicht
                            Vormundskontakt)</small></label>
                    <input class="form-control" type="text" placeholder="" id="notfallkontakt" name="notfallkontakt">
                </div>
                <div class="form-group mb-30">
                    <label for="notfallnummer">Notfall-Telefonnummer: <strong style="color: darkred;">*</strong>
                        <small>(auch mehrere möglich)</small></label>
                    <input class="form-control" type="text" placeholder="077 123 45 67" id="notfallnummer"
                        name="notfallnummer" required>
                </div>
                <div class="form-group mb-30">
                    <label for="arzt">Name, Adresse und Telefon Hausarzt: <strong
                            style="color: darkred;">*</strong></label>
                    <textarea maxlength="250" class="form-control" rows="3" id="hausarzt" name="hausarzt"></textarea>
                </div>
                <div class="form-group mb-30">
                    <label for="unfallversicherung">Unfallversicherung: <strong
                            style="color: darkred;">*</strong></label>
                    <input class="form-control" type="text" placeholder="" id="unfallversicherung"
                        name="unfallversicherung" required>
                </div>
                <div class="form-group mb-30">
                    <label for="kk">Krankenkasse: <strong style="color: darkred;">*</strong></label>
                    <input class="form-control" type="text" placeholder="" id="kk" name="kk" required>
                </div>
                <div class="form-group mb-30">
                    <label for="ahv">AHV Nummer: <strong style="color: darkred;">*</strong></label>
                    <input class="form-control" type="text" placeholder="756.xxxx.xxxx.xx" id="ahv" name="ahv" required>
                </div>
                <div class="form-group mb-30">
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" id="noimpfausweis" name="noimpfausweis"
                            value="yes">
                        <label class="form-check-label" for="noimpfausweis">Ich habe keinen Impfausweis</label>
                    </div>
                </div>
                <div id="container-impfausweis">
                    <div class="form-group mb-30">
                        <label class="form-label" for="impfausweis">Impfausweis: <strong
                                style="color: darkred;">*</strong> <small>(max. 4 MB)</small></label>
                        <input class="form-control" type="file" id="impfausweis" name="impfausweis" required>
                        <small id="too-big-message" style="color: darkred;" class="hide">Das Dokument ist zu
                            gross.</small>
                    </div>
                    <img id="impfausweis-selected" src="" alt="" style="max-width: 100%;">
                </div>
                <div class="form-group mb-30">
                    <label for="krankheiten">Krankheiten und Medikamente: <small>(Asthma, ADHS, Herzfehler,
                            etc. und/oder müssen Medikamente genommen werden und welche?)</small></label>
                    <textarea maxlength="250" class="form-control" rows="2" id="krankheiten"
                        name="krankheiten"></textarea>
                </div>
                <div class="form-group mb-30">
                    <label for="allergien">Sonstige Allergien: <small>(Pollen-, Bienengiftallergie,
                            etc.)</small></label>
                    <textarea maxlength="250" class="form-control" rows="2" id="allergien" name="allergien"></textarea>
                </div>
                <div class="form-group mb-30">
                    <label>Essgewohnheiten: </label>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="Vegi" name="essgewohnheiten" id="vegi">
                        <label class="form-check-label" for="vegi">Vegetarisch</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="Gluten" name="essgewohnheiten"
                            id="gluten">
                        <label class="form-check-label" for="gluten">Gluten Unverträglichkeit</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="Laktose" name="essgewohnheiten"
                            id="laktose">
                        <label class="form-check-label" for="laktose">Laktose Unverträglichkeit</label>
                    </div>
                </div>
                <div class="form-group mb-30">
                    <label for="essstoerungen">Andere Lebensmittelunverträglichkeiten: <small>(Mehl
                            etc.)</small></label>
                    <textarea maxlength="250" class="form-control" rows="2" id="essstoerungen"
                        name="essstoerungen"></textarea>
                </div>
                <div class="form-group mb-30">
                    <label>T-Shirt Grösse: <strong style="color: darkred;">*</strong></label>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="shirt-size" value="XS" id="size-xs">
                        <label class="form-check-label" for="size-xs">XS</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="shirt-size" value="S" id="size-s">
                        <label class="form-check-label" for="size-s">S</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="shirt-size" value="M" id="size-m" checked>
                        <label class="form-check-label" for="size-m">M</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="shirt-size" value="L" id="size-l">
                        <label class="form-check-label" for="size-l">L</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="shirt-size" value="XL" id="size-xl">
                        <label class="form-check-label" for="size-xl">XL</label>
                    </div>
                </div>
                <div class="form-group mb-30">
                    <label for="sonstiges">Sonstige Informationen: </label>
                    <textarea maxlength="250" class="form-control" rows="3" id="sonstiges" name="sonstiges"></textarea>
                </div>
                <div class="form-group mb-30">
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" id="agb" name="agb" value="yes" required>
                        <label class="form-check-label" for="agb">
                            {{ if ne .Params.form "leitende" }}
                            <p>Wir nehmen zur Kenntnis, dass der Lagerbeitrag CHF
                                40.00 beträgt. Es kann sein, dass geringe zusätzliche Kosten von den Scharen für die An-
                                und
                                Abreise dazukommen werden.</p>
                            <br>
                            {{ end }}
                            <p>Bei Allergien und/oder Medikamenteneinnahme bitte zusätzlich die im Lager anwesenden
                                Gruppenleitenden informieren. Medikamenten-Einnahme ist Sache der Teilnehmenden oder
                                ansonsten in Absprache mit der anwesenden Gruppenleitungsperson. Die
                                Medikamentenanwendungen
                                bitte vorgängig mit dem Kind/der Leitungsperson besprechen.</p>
                            <br>
                            <p>Die Versicherung ist Sache der Teilnehmenden.</p>
                            <br>
                            <p>Mit der Anmeldung erklärt man sich damit einverstanden, dass im Lager gemachte Fotos von
                                Jungwacht und Blauring verwendet werden dürfen, insbesondere für soziale Netzwerke,
                                Zeitungen, Lagerblog und die Homepage.</p>
                            <br>

                            {{ if eq .Params.form "leitende" }}
                            <p>Wir nehmen die Regeln zur Kenntnis (Rauchen, Alkohol und Schnupftabak sowie
                                jegliche andere Suchtmittel unterliegen den gesetzlichen Bestimmungen und sind nur im
                                entsprechend vorgesehenen Bereich zu vorgeschriebenen Zeiten erlaubt. Drogen sind im
                                Lager nicht erlaubt. (Siehe auch Schutzkonzept). Bei Verstoß gegen diese Regeln muss die
                                Leitungsperson das Lager verlassen.</p>
                            {{ else }}
                            <p>Wir nehmen die Regeln zur Kenntnis (Regeln für die Teilnehmenden: IPod, Handy und
                                weitere elektronische Unterhaltungsmittel sind im Lager unerwünscht und werden bis Ende
                                Lager eingezogen! Rauchen, Alkohol, Schnupftabak sowie jegliche andere Suchtmittel und
                                Drogen sind im Lager nicht erlaubt! Bei Verstoß gegen diese Regeln müssen die Kinder aus
                                dem Lager abgeholt werden. In diesem Fall besteht kein Anspruch auf die Rückerstattung
                                des Lagerbeitrages.)</p>
                            {{ end }}

                        </label>
                    </div>
                </div>
                {{ if eq .Params.form "leitende" }}
                <p id="disabledWarning"><small>Stelle sicher, dass die 18+ checkbox selektiert, oder die
                        Unterschrift
                        vorhanden ist (grün umrandet)</small></p>
                {{ else }}
                <p id="disabledWarning"><small>Stelle sicher, dass die Unterschrift vorhanden ist (grün
                        umrandet)</small></p>
                {{ end }}
                <button class="btn btn-primary" disabled>Anmelden</button>
            </form>
            <div id="success-message" style="display: none">
                <h3>Vielen Dank!</h3>
                <p>Wir werden uns bei dir melden.</p>
            </div>
            <div id="error-message" style="display: none">
                <h3>Ups!</h3>
                <p style="color: darkred;">Leider hat etwas nicht geklappt.. Bitte melde dich bei Thomas von Mentlen <a
                        href="mailto:thomas.vonmentlen@jublaost.ch">thomas.vonmentlen@jublaost.ch</a> oder <a
                        href="mailto:ok@pfila23.ch">ok@pfila23.ch</a></p>
            </div>
        </div>
    </div>
</section>

<script src="https://cdnjs.cloudflare.com/ajax/libs/signature_pad/1.3.5/signature_pad.min.js"
    integrity="sha512-kw/nRM/BMR2XGArXnOoxKOO5VBHLdITAW00aG8qK4zBzcLVZ4nzg7/oYCaoiwc8U9zrnsO9UHqpyljJ8+iqYiQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>

{{ $script := resources.Get "js/registration.js" | minify}}
<script src="{{ $script.Permalink }}"></script>



{{ end }}