{{ define "main" }}
{{ $data := index .Site.Data .Site.Language.Lang }}

<section class="spenden">
    <div class="container">
        <div class="row">
            <div class="col-6">
                {{ $image := resources.GetMatch .Params.img_left }}
                {{ partial "image.html" (dict "Image" $image "Alt" "Insta 1" "Class" "img-fluid") }}
            </div>
            <div class="col-6">
                {{ $image := resources.GetMatch .Params.img_right }}
                {{ partial "image.html" (dict "Image" $image "Alt" "Insta 2" "Class" "img-fluid") }}
            </div>
        </div>

        <h2 class="p-30">{{ .Description }}</h2>
        <p class="p-10">{{ .Content | markdownify }}</p>

        {{ $image := resources.GetMatch .Params.qr }}
        {{ partial "image.html" (dict "Image" $image "Alt" "Konto QR" "Class" "img-fluid") }}

    </div>
</section>


{{ if $data.homepage.sponsor_logo_slider.enable }}
{{ with $data.homepage.sponsor_logo_slider }}
<section class="section-padding overflow-hidden">
    <div class="container">
        <hr>
        <h2 class="p-30">Wir danken unseren bisherigen Sponsoren</h2>
        <div class="p-50 row justify-content-center">
            <ul>
                {{ range .logos }}
                <li>{{ .name }}
                    {{ if .url }}
                    <a href="{{ .url }}" target="_blank">
                        {{ if .image }}
                        <p>
                            <img style="max-width: 10rem;" class="p-10" src="{{ .image | absURL }}" alt="">
                        </p>
                        <br>
                        {{ end }}
                    </a>
                    {{ else }}
                    {{ if .image }}
                    <p>
                        <img style="max-width: 10rem;" class="p-10" src="{{ .image | absURL }}" alt="">
                    </p>
                    <br>
                    {{ end }}
                    {{ end }}
                </li>
                {{ end }}
            </ul>
        </div>
    </div>
</section>
{{ end }}
{{ end }}

{{ end }}