{{ define "main" }}
{{ $data := index .Site.Data .Site.Language.Lang }}

<section>
    <style>
        @font-face {
            font-family: 'Century Gothic';
            src: url('/ufonts.com_century-gothic.ttf');
        }

        #header-logo {
            max-width: calc(90% - 2em);
            margin: 1em;
            max-height: 40vh;
        }

        .header {
            font-family: 'Century Gothic';
            text-align: center;
        }

        #countdown {
            color: #cc5b2b;
            font-size: 2.5rem;
            font-weight: 500;
        }
    </style>
    <section class="header">
        <img id="header-logo" src="/images/logo/Pfila_2023_Logo.png" alt="logo" style="max-width: 30%;">
        <p id="countdown" style="font-family: Jubla;"></p>
    </section>

    <section>
        <div class="container justify-content-center" style="text-align: center;">
            <p>Nach gut 10 Jahren findet für alle Kinder und Jugendlichen aus den beiden Jubla-Regionen StauU (St.
                Gallen und Umgebung) und SaWe (Sargans/Werdenberg) wieder ein dreitätiges, regionales Pfingstlager
                statt.
            </p>
            <p>
                Mit deinen Leitenden sowie vielen weiteren Lebensfreund*innen aus anderen Scharen zelten wir vom
                Samstag, 27. Mai 2023 bis Montag, 29. Mai 2023 im Sittertobel (St. Gallen) und feiern gemeinsam das
                Lebensbaumfest von <strong>Tom dä Bom</strong>.
            </p>
            <video width="100%" height="400" autoplay muted loop style="transform:rotate(-90deg);">
                <source src="/movies/GIF_Video1.mp4">
            </video>
            <p>Bist du dabei? Wir freuen uns auf deine online Anmeldung:</p>
            <p class="p-30">
                <a href="/registration"><button class="btn btn-primary">JETZT ANMELDEN</button></a>
            </p>
        </div>
    </section>

    {{ if $data.homepage.sponsor_logo_slider.enable }}
    {{ with $data.homepage.sponsor_logo_slider }}
    <section class="section-padding overflow-hidden">
        <div class="container">
            <hr>
            <h2 class="p-30">Wir danken unseren Sponsoren</h2>
            <div class="row">
                <div class="col-md-12" data-aos="fade-left">
                    <div class="brand-carousel">
                        {{ range .logos }}
                        <a href="{{ .url }}" target="_blank">
                            <div class="brand-item d-flex align-items-center justify-content-center">
                                <img class="img-fluid" src="{{ .image | absURL }}" alt="">
                            </div>
                        </a>
                        {{ end }}
                    </div>
                </div>
            </div>
        </div>
    </section>
    {{ end }}
    {{ end }}

    <section>
        <div class="container">
            <hr>
            <h2 class="p-30">Angemeldete Scharen</h2>
            <div id="registered-scharen"></div>
        </div>
    </section>

    <section>
        <div class="container">
            <h2 class="p-30">Kontaktformular</h2>
            <div class="row justify-content-center">
                <form class="col-md-8" id="contactform">
                    <div class="form-group mb-30">
                        <label class="text-black-200 h5 font-weight-600 mb-2" for="name">Name<strong
                                style="color: darkred;">*</strong></label>
                        <input class="form-control shadow-none" type="text" placeholder="Chuck Norris" id="name"
                            name="name" required>
                    </div>
                    <div class="form-group mb-30">
                        <label class="text-black-200 h5 font-weight-600 mb-2" for="email">Email<strong
                                style="color: darkred;">*</strong></label>
                        <input class="form-control shadow-none" type="email" placeholder="chuck@norris.com" id="email"
                            name="email" required>
                    </div>
                    <div class="form-group mb-30">
                        <label class="text-black-200 h5 font-weight-600 mb-2" for="message">Nachricht<strong
                                style="color: darkred;">*</strong></label>
                        <textarea class="form-control shadow-none" rows="5" id="message" name="message"
                            required></textarea>
                    </div>
                    <br />
                    <div class="float-right">
                        <button class="btn btn-primary" type="submit">Senden</button>
                    </div>
                </form>
                <div id="success-message-2" style="display: none">
                    <h3>Vielen Dank!</h3>
                    <p>Wir werden uns umgehend bei dir melden.</p>
                </div>
                <div id="error-message-2" style="display: none">
                    <h3 style="color: darkred;">Fehler!</h3>
                    <p style="color: darkred;">Leider hat etwas nicht geklappt... melde dich doch direkt bei <a
                            href="mailto:thomas.vonmentlen@jublaost.ch">thomas.vonmentlen@jublaost.ch</a></p>
                </div>
            </div>
        </div>
    </section>

    <script>
        var countDownDate = new Date("May 27, 2023 10:00:00").getTime();
        // Update the count down every 1 second
        var x = setInterval(() => {
            var now = new Date().getTime();
            var distance = countDownDate - now;
            var days = Math.floor(distance / (1000 * 60 * 60 * 24));
            document.getElementById("countdown").innerHTML = "Nur noch " + days + " Tage bis zum Pfila 2023";
            if (distance < 0) { clearInterval(x); document.getElementById("demo").innerHTML = "EXPIRED"; }
        }, 1000); 
    </script>

    {{ $script := resources.Get "js/scharen.js" | minify}}
    <script src="{{ $script.Permalink }}"></script>

    {{ $script := resources.Get "js/kontakt.js" | minify}}
    <script src="{{ $script.Permalink }}"></script>

</section>
{{ end }}